<!DOCTYPE html>
<html>
<head>
    <title>Stratus</title>
    <script src="/static/js/index-script.js" defer></script>
    <link rel="stylesheet" href="/static/css/index-style.css">
    <style>
        #error {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Stratus</h1>

    <form>
        <input type="text" name="subdomain" id="subdomain" placeholder="New subdomain">
        <input type="submit" value="Add">
        <span id="error"></span>
    </form>


    <div id="subdomains-container">
        <h2>Active Subdomains</h2>
        <section id="subdomains">
        </section>
    </div>

    <form action="/api/user/logout" method="post">
        <input type="submit" id="logout" value="Logout">
    </form>

</body>

</html>
