<!DOCTYPE html>
<html>
<head>
    <title>Stratus</title>
    <link rel="stylesheet" href="/static/css/index-style.css">
</head>
<body>
    <form action="api/user/register" method="post" class="logreg">
        <label for="email">Email</label>
        <input type="text" name="email" id="email">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword">
        <input type="submit" value="Register">
    </form>
</body>
</html>
