<!DOCTYPE html>
<html>
<head>
    <title>Stratus</title>
    <link rel="stylesheet" href="/static/css/index-style.css">
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Stratus</h1>
    <form action="api/user/register" method="post" class="logreg">
        <input type="text" name="email" id="email" placeholder="Email">
        <input type="password" name="password" id="password" placeholder="Password">
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm password">
        <input type="submit" value="Register">
    </form>
    <a href="login">Login</a>
</body>
</html>
